---
import Layout from "../../layouts/Layout.astro";

import * as styles from "./styles.css";
---

<Layout title="About Chris">
    <div class={styles.container}>
        <p>I am currently alive and well.</p>
    </div>
</Layout>
