---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import { sprinkles } from "../../styles/sprinkles.css";
import ExperienceCard from "./ExperienceCard/ExperienceCard.astro";
import { getMostRecentPosition } from "./utils";

import * as styles from "./Work.css";

const experiences = (await getCollection("experiences")).sort((a, b) => {
  const aMostRecentPositionEndDate =
    getMostRecentPosition(a.data.positions).duration.end ?? Date.now();
  const bMostRecentPositionEndDate =
    getMostRecentPosition(b.data.positions).duration.end ?? Date.now();
  return (
    new Date(bMostRecentPositionEndDate).getTime() -
    new Date(aMostRecentPositionEndDate).getTime()
  );
});
---

<Layout title="Chris' Work">
  <div class={styles.container}>
    {experiences.map((experience) => <ExperienceCard {...experience} />)}
  </div>
</Layout>
