---
import { container } from "./Layout.css";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hi! I'm Christopher Krogh and I'm a Software Engineer at Faire. Most of my engineering experience is in the web ecosystem, but I'm always interested in learning to build new things."
    />
    <title>{title}</title>
  </head>
  <body>
    <main class={container}>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@300&display=swap");
</style>
